<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
         <!-- font awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="./assets/style.css"
    </head>
   
   <body>
    <section class="container">
        <h1 align="center"> ToDo App</h1>
        <form action="/create-task" method="POST">
            <table class="table">
                <thead>
                    <tr class="table-active">
                        <th>Add Task</th>
                        <th>Category</th>
                        <th> Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <input type="text" name="description" placeholder="What do you need to do?" required> </input></th>
                            <td> <select name="category" required>
                                <option id="personal">Personal</option>
                                <option id="work" >Work</option>
                                <option id="school">School</option>
                                <option id="cleaning">Cleaning</option>
                                <option id="others">Others</option>
                            </select></th>
                            <td><input type="date" name="date" required></th>
                            <td><input type="submit" class="btn btn-success" id="add" value="ADD TASK"></th>   
                    </tr>
                </tbody>
            </table>
        </form>

    </section>

    <div>
        <h1 align="center"> Task List</h1>
        <form action="/delete-task" method="GET">
            <table class="table">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Task</th>
                        <th>Category</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <% for(let i of Array.from(task)){ %>
                <tr>
                    <td><input type="checkbox" name="<%= i._id %>"></td>
                    <td> <p id="task-description"><%= i.description %></p></td>
                    <td><p id="task-category"> <%= i.category %></p></td>
                    <td><p id="due-date"><%= i.date.toDateString() %></p></td>

                </tr>

                <% } %>
            </table>
            <div  align = "center"><input type="submit" class="btn btn-danger" value="DELETE TASK">
            </div>
        </form>

    </div>
    <script src=" https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
   </body>
</html>